<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>All Cat We Have</title>
    <link href="css/style.css" type="text/css" rel="stylesheet">
</head>
<body>
    <h1>Welcome to my pet house</h1>
    <a href="/lion"><img src="img/cat1.jpg"></a><br>
    <a href="/leonopad"><img src="img/cat2.jpg"></a><br>
    <a href="/blackpanther"><img src="img/cat3.jpg"></a><br>
    
</body>
</html>